.Contenedor-Total{
    padding-bottom: 50px;
    background:whitesmoke;
}
.Nombre-Titulo{
    display:flex;
    justify-content: center;
    background-color: rgb(255, 128, 82, 0.3) ;
}
.Titulo{
   opacity: 1;
}
.Sub-Titulo{
    display:flex;
    justify-content: center;
    background-color:rgb(255, 128, 82, 0.3)  ;
}
.Modos-de-Juego{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background:rgb(107, 107, 107);
    color: cyan;
    align-items: center;
    height:300px;
    margin:10px;
}
.Boton-Seleccionar{
    display:flex;
    justify-content:center;
    background-color: green;
    margin:5px 5px 5px 600px;
}
.active{
    display: flex;
}
.inactive{
    display: none;
}